@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Teko:wght@400;500;600&display=swap');
@import "assets/css/header.css";
@import "assets/css/contacts.css";
@import "assets/css/footer.css";

#root, html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-color: white;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
